.header__link {
  min-width: 275px;
  height: 3em;
  border: 1px solid #FFFFFF;
  padding-top: 1.5em;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
}

.header__link:first-child {
  border-left: none;
}

.header__link:last-child {
  border-right: none;
}

@media (max-width: 1106px) {
  .header__link {
    min-width: 400px;
}

  .header__link:nth-child(2n) {
  border-right: none;
}
  .header__link:nth-child(2n+1) {
  border-left: none;
}
}

@media (max-width: 802px) {
  .header__link {
    border-right: none;
    border-left: none;
}
}

@media (max-width: 500px) {
  .header__link {
    min-width: 320px;
}
}
