.table__cell {
  min-width: 370px;
  text-align: center;
  margin: 0 auto;
  border-top: 1px solid #282828;
}

.table__cell:nth-child(2) {
  border-top: none;
}

@media (max-width: 550px) {
  .table__cell {
    min-width: 200px;
}
}
