.table {
  max-width: 445px;
  text-align: start;
  padding-top: 60px;
  padding-right: 125px;
  border-bottom: 1px solid #998431;
  border-top: 1px solid #998431;
}

@media (max-width: 1000px) {
  .table {
    padding-right: 20px;
}
}

@media (max-width: 800px) {
  .table {
    border-bottom: none;
}
}
