.form__input-adress {
  width: 100%;
  background-color: #282828;
  color: #FFFFFF;
  margin-bottom: 50px;
  border: none;
  border-bottom: 1px solid #FFFFFF;
  font-weight: 500;
  font-size: 13px;
  line-height: 150%;
  cursor: pointer;
}
