.slider {
  max-width: 540px;
  overflow: hidden;
  padding-top: 200px;
  border-bottom: 1px solid #998431;
  border-top: 1px solid #998431;
}

@keyframes slider {
  0% { left: 0; }
  7.5% { left: 0; }
  12.5% { left: -100%; }
  20% { left: -100%; }
  25% { left: -200%; }
  32.5% { left: -200%; }
  45% { right: -300%; }
  50% { right: -400%; }
  62.5% { right: -500%; }
  75% { right: -600%; }
  95% { right: -700%; }
  100% { right: 0; }
}

@media (max-width: 1130px) {
  .slider {
    max-width: 320px;
}
}

@media (max-width: 800px) {
  .slider {
    padding-top: 50px;
    border-bottom: none;
    max-width: 540px;
    border-top: none;
}
}

@media (max-width: 650px) {
  .slider {
    max-width: 450px;
}
}

@media (max-width: 550px) {
  .slider {
    max-width: 320px;
}
}
